@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 100%;
    width: 500px;
    height: 100vh;
    margin: auto;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    width: 100%;

}

.button-container button{
        max-width: 100%;
    background-color: #ffffff;
    border-radius: 24px;
    color: #000;
    padding: 16px 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: inset 2px 4px 10px rgb(224 224 224 / 91%), inset -2px -4px 10px rgb(224 224 224 / 91%);
    border: 1px solid #d4d4d4;
}
button i{
    font-size: 24px;
    color: rgba(0 12 53);
}
button span{
    font-size: 16px;
    color: rgba(0 12 53);
    font-weight: 600;
    /* display: none; */
}

.button2.active i,.button2.active span{
    animation: animate 0.6s ease-in-out;
}

@keyframes animate{
    from{
        opacity: 0.8;
        scale: 0.9;
        filter: blur(1px);
    }
    to{
        opacity: 1;
        scale: 1;
        filter: blur(0px);
    }
}